<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<style>
    table{
        width: 600px;
        border: 1px solid green;
        margin: auto;
    }
    td{
        text-align: center;
    }
    table, th, td{
        border: 1px solid darkblue;
        padding: 3px;
    }
</style>
<body>
<div class="search">
    <form th:action="@{search}"
          th:method="get"
          style="text-align:center; margin-top:100px; font-size: 25px;">
        <input type="text"name="name" placeholder="Search">
        <br>
        <br>
        <input type="submit" value="search">
    </form></div>
<table>
    <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>GroupName</th>
        <th>update</th>
        <th>delete</th>
    </tr>
    <tr th:each="student:${students}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.firstName}"></td>
        <td th:text="${student.lastName}"></td>
        <td th:text="${student.email}"></td>
        <td th:text="${student.group.groupName}"></td>
        <td>
            <a th:href="@{/students/update/{id}(id=${student.id})}">
                <button style="height: auto; background-color: darkblue ">update</button>
            </a>
        </td>
        <td>
            <form th:method="Delete"
                  th:action="@{/students/delete(id=${student.id})}">
                <button type="submit" style="height: auto; background-color: red ">delete</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>