<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Students</title>
  <style>
    table{
      width: 300px;
      border: 1px solid green;
      margin:auto;
    }
    td{
      text-align: center;
    }
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>
</head>
<body>
<h1>Count</h1>
<h1 th:name="count" th:text="${count}"></h1>
<a href="/companies"> go back</a>
  <table>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>GroupName</th>
      <th>update</th>
      <th>delete</th>
    </tr>
    <tr th:each="student:${studentList}">
      <td th:text="${student.id}"></td>
      <td th:text="${student.firstName}"></td>
      <td th:text="${student.lastName}"></td>
      <td th:text="${student.email}"></td>
      <td th:text="${student.group.groupName}"></td>
      <td>
        <a th:href="@{/students/update/{id}(id=${student.id})}">
          <!--          <button style="height: auto; background-color: darkblue ">update</button>-->
          <i class="icon-pencil-square-o"></i>
        </a>
      </td>
      <td>
        <form th:method="Delete"
              th:action="@{/students/delete(id=${student.id})}">
          <button type="submit">
            <i class="icon-trash-o"></i>
          </button>
        </form>
      </td>

    </tr>
  </table>
<!--<td>-->
<!--  <a-->
<!--          th:href="@{/courses/addCourse/{id}(id=${})}">-->
<!--    <button style="height: auto; background-color: green">update</button>-->
<!--  </a>-->
<!--</td>-->

</body>
</html>
